---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@use "sass:math";
@use "sass:color";
@use "variables" as *;
@use "base";
@use "layout";
@use "syntax-highlighting-native";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css');
