<section class="pager">
  {% if paginator %}
    {% if paginator.previous_page_path %}
    <li class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" title="{{ site.locales[site.default_locale].Next }}">&larr; {{ site.locales[site.default_locale].Next }}</a></li>
    {% endif %}
    {% if paginator.next_page_path %}
    <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl }}" title="{{ site.locales[site.default_locale].Previous }}">{{ site.locales[site.default_locale].Previous }} &rarr;</a></li>
    {% endif %}
  {% endif %}
</section>
