---
layout: default
---
<div class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 itemprop="name" class="post-title">{{ page.title }}</h1>
    <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
    <p class="post-meta">

    {{ site.locales[site.default_locale].PostedInCategories }}
    {% for cat in page.categories %}
    <a href="{{site.baseurl}}/category/#{{ cat }}">{{ cat }}</a>{% unless page.categories.last == cat %}, {% endunless %}
    {% endfor %}

    {% if page.tags != empty %}
    {{ site.locales[site.default_locale].Taggedwith }}
    {% for tag in page.tags %}
    <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>{% unless page.tags.last == tag %}, {% endunless %}
    {% endfor %}
    {% endif %}

    <time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">
    {{ site.locales[site.default_locale].PostDate }}{{ page.date | date: "%Y-%m-%d" }}
    </time>
    </p>
  </header>

  <article class="post-content" itemprop="articleBody">
    {{ content }}
  </article>
  <hr />
</div>

<h5><span id="busuanzi_container_page_pv">本文总阅读量<span id="busuanzi_value_page_pv"></span>次</span></h5>

{% include page_pagination.html%}
{% include comments.html %}

